name: Add dependencies to Cloud Platform project

on:
  workflow_call:

jobs:
  get_prs:
    name: Get all PRs with the bot label
    runs-on: ubuntu-latest
    outputs:
      urls: ${{ steps.get_pr.outputs.pr_urls }}
    steps:
      - name: Get Token
        id: get_workflow_token
        uses: peter-murray/workflow-application-token-action@dc0413987a085fa17d19df9e47d4677cf81ffef3 # v3.0.0
        with:
          application_id: ${{ secrets.APPLICATION_ID }}
          application_private_key: ${{ secrets.APPLICATION_PRIVATE_KEY }}
          organization: ministryofjustice
      - name: Get current repositories
        id: get_pr
        env:
          GH_TOKEN: ${{ steps.get_workflow_token.outputs.token }}
          MAX_REPO: 50
        run: |
          pr_urls=$(gh search prs label:dependencies --state open --json 'url' --repo ${{ github.repository }} | jq -c '[.[].url]')
          if [ "${pr_urls}" == [] ]; then pr_urls="[\"https://example.com\"]"; fi
          echo "pr_urls=${pr_urls}"
          echo "pr_urls=${pr_urls}" >> $GITHUB_OUTPUT

  process_prs:
    name: Process PR
    runs-on: ubuntu-latest
    needs: get_prs
    strategy:
      fail-fast: false
      matrix:
        url: ${{fromJSON(needs.get_prs.outputs.urls)}}

    steps:
      - name: Get Token
        id: get_workflow_token
        uses: peter-murray/workflow-application-token-action@dc0413987a085fa17d19df9e47d4677cf81ffef3 # v3.0.0
        with:
          application_id: ${{ secrets.APPLICATION_ID }}
          application_private_key: ${{ secrets.APPLICATION_PRIVATE_KEY }}
          organization: ministryofjustice

      - name: Check if PR is in project
        id: in_project
        continue-on-error: true
        env:
          GH_TOKEN: ${{ steps.get_workflow_token.outputs.token }}
        run: |
          gh pr view ${{ matrix.url }}  --json 'projectItems' | jq -r '.projectItems[0].title' | grep 'Cloud Platform'

      - name: Add PR to project
        if: steps.in_project.outcome == 'failure'
        continue-on-error: true
        env:
          GH_TOKEN: ${{ steps.get_workflow_token.outputs.token }}
        run: |
          gh pr edit ${{ matrix.url }} --add-project 'Cloud Platform'
