---
name: Development Cluster Deployment
on:
  # Uncomment for testing on pull requests, you will also need to change the github-actions-development-cluster role trust policy from repo:ministryofjustice/cloud-platform-github-workflows:ref:refs/heads/main to repo:ministryofjustice/cloud-platform-github-workflows:ref:refs/heads/feature/my-branch
  # pull_request:
  #   types: [opened, synchronize, reopened]
  #   paths:
  #     - ".github/workflows/development-cluster-deploy.yml"
  workflow_dispatch:
    inputs:
      cluster_action:
        description: 'Set either [deploy|destroy].'
        default: 'deploy'
        required: true
        type: choice
        options:
          - deploy
          - destroy
      cluster_name:
        description: "Name of the development cluster (must be 12 characters or less). Use 'cp-date-time' to auto-generate a name based on the current date and time."
        required: false
        default: "cp-date-time"
        type: string
      branch_name:
        description: "Name of the branch to deploy from (defaults to main)"
        required: false
        default: "main"
        type: string

permissions:
  id-token: write  # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

run-name: "Development Cluster Deployment by @${{ github.actor }}"

jobs:
  set-cluster-name:
    name: Set Cluster Name
    if: inputs.cluster_action == 'deploy'
    runs-on: ubuntu-latest
    outputs:
      cluster_name: ${{ steps.set-cluster-name.outputs.cluster_name }}
    steps:
      - name: Set Cluster Name Output
        id: set-cluster-name
        run: |
          if [[ "${{ inputs.cluster_name }}" != "cp-date-time" ]]; then
            CLUSTER_NAME="${{ inputs.cluster_name }}"
            CLUSTER_NAME="${CLUSTER_NAME:0:12}"
          else
            CLUSTER_NAME="cp-$(date +%d%m-%H%M)"
          fi
          echo "cluster_name=$CLUSTER_NAME" >> $GITHUB_OUTPUT
          echo "Cluster Name: $CLUSTER_NAME"

  deploy-development-cluster:
    name: Deploy Development Cluster
    if: inputs.cluster_action == 'deploy'
    needs: set-cluster-name
    runs-on: ubuntu-latest
    steps:
        - name: Checkout Repository
          uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
          with:
            repository: 'ministryofjustice/modernisation-platform-environments'
            ref: ${{ inputs.branch_name }}
        
        - name: Prepare Files
          run: |
            bash terraform/environments/cloud-platform-non-live/scripts/dev-cluster-files.sh ${{ needs.set-cluster-name.outputs.cluster_name }}
        
        - name: Configure AWS Credentials
          uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
          with:
            role-to-assume: arn:aws:iam::${{secrets.CLOUD_PLATFORM_NON_LIVE_DEVELOPMENT_ACCOUNT_ID}}:role/github-actions-development-cluster
            role-session-name: GitHubActionsDevelopmentClusterSession
            aws-region: eu-west-2
        
        - name: Setup Terraform
          uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
          with:
            terraform_version: 1.14.3
        
        - name: Network Terraform fmt
          run: terraform fmt -check
          working-directory: terraform/environments/cloud-platform-non-live/tmp/network
          continue-on-error: true
        
        - name: Network Terraform init
          run: terraform init
          working-directory: terraform/environments/cloud-platform-non-live/tmp/network
        
        - name: Network Terraform validate
          run: terraform validate -no-color
          working-directory: terraform/environments/cloud-platform-non-live/tmp/network
        
        - name: Network Terraform Plan
          run: |
            set -o pipefail
            terraform plan | ../../../../../scripts/redact-output.sh
          working-directory: terraform/environments/cloud-platform-non-live/tmp/network
        
        - name: Network Terraform Apply
          run: |
            set -o pipefail
            terraform apply -auto-approve | ../../../../../scripts/redact-output.sh
          working-directory: terraform/environments/cloud-platform-non-live/tmp/network
        
        - name: Cluster Terraform fmt
          run: terraform fmt -check
          working-directory: terraform/environments/cloud-platform-non-live/tmp/cluster
          continue-on-error: true
        
        - name: Cluster Terraform init
          run: terraform init
          working-directory: terraform/environments/cloud-platform-non-live/tmp/cluster
        
        - name: Cluster Terraform validate
          run: terraform validate -no-color
          working-directory: terraform/environments/cloud-platform-non-live/tmp/cluster
        
        - name: Cluster Terraform Plan
          run: |
            set -o pipefail
            terraform plan | ../../../../../scripts/redact-output.sh
          working-directory: terraform/environments/cloud-platform-non-live/tmp/cluster
        
        - name: Cluster Terraform Apply
          run: |
            set -o pipefail
            terraform apply -auto-approve | ../../../../../scripts/redact-output.sh
          working-directory: terraform/environments/cloud-platform-non-live/tmp/cluster
        
        - name: Cluster-core Terraform fmt
          run: terraform fmt -check
          working-directory: terraform/environments/cloud-platform-non-live/tmp/cluster-core
          continue-on-error: true
        
        - name: Cluster-core Terraform init
          run: terraform init
          working-directory: terraform/environments/cloud-platform-non-live/tmp/cluster-core
        
        - name: Cluster-core Terraform validate
          run: terraform validate -no-color
          working-directory: terraform/environments/cloud-platform-non-live/tmp/cluster-core
        
        - name: Cluster-core Terraform Plan
          run: |
            set -o pipefail
            terraform plan | ../../../../../scripts/redact-output.sh
          working-directory: terraform/environments/cloud-platform-non-live/tmp/cluster-core
        
        - name: Cluster-core Terraform Apply
          run: |
            set -o pipefail
            terraform apply -auto-approve | ../../../../../scripts/redact-output.sh
          working-directory: terraform/environments/cloud-platform-non-live/tmp/cluster-core
  
  destroy-development-cluster:
    name: Destroy Development Cluster
    if: inputs.cluster_action == 'destroy' && inputs.cluster_name != 'cp-date-time'
    runs-on: ubuntu-latest
    steps:
        - name: Checkout Repository
          uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
          with:
            repository: 'ministryofjustice/modernisation-platform-environments'
            ref: ${{ inputs.branch_name }}
        
        - name: Prepare Files
          run: |
            bash terraform/environments/cloud-platform-non-live/scripts/dev-cluster-files.sh ${{ inputs.cluster_name }}
        
        - name: Configure AWS Credentials
          uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
          with:
            role-to-assume: arn:aws:iam::${{secrets.CLOUD_PLATFORM_NON_LIVE_DEVELOPMENT_ACCOUNT_ID}}:role/github-actions-development-cluster
            role-session-name: GitHubActionsDevelopmentClusterSession
            aws-region: eu-west-2
        
        - name: Setup Terraform
          uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
          with:
            terraform_version: 1.14.3
        
        - name: Cluster-core Terraform init
          run: terraform init
          working-directory: terraform/environments/cloud-platform-non-live/tmp/cluster-core
        
        - name: Cluster-core Terraform Destroy
          run: |
            set -o pipefail
            terraform destroy -auto-approve | ../../../../../scripts/redact-output.sh
          working-directory: terraform/environments/cloud-platform-non-live/tmp/cluster-core
        
        - name: Cluster Terraform init
          run: terraform init
          working-directory: terraform/environments/cloud-platform-non-live/tmp/cluster
        
        - name: Cluster Terraform Destroy
          run: |
            set -o pipefail
            terraform destroy -auto-approve | ../../../../../scripts/redact-output.sh
          working-directory: terraform/environments/cloud-platform-non-live/tmp/cluster
        
        - name: Network Terraform init
          run: terraform init
          working-directory: terraform/environments/cloud-platform-non-live/tmp/network
        
        - name: Network Terraform Destroy
          run: |
            set -o pipefail
            terraform destroy -auto-approve | ../../../../../scripts/redact-output.sh
          working-directory: terraform/environments/cloud-platform-non-live/tmp/network
