---
name: Development Cluster Deployment
on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - ".github/workflows/development-cluster-deploy.yml"
  workflow_dispatch:
    inputs:
      cluster_action:
        description: 'Set either [deploy|destroy].'
        default: 'deploy'
        required: true
        type: choice
        options:
          - deploy
          - destroy
      cluster_name:
        description: "Name of the development cluster to destroy"
        required: false
        default: "cp-date-time"
        type: string

permissions:
  id-token: write  # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

jobs:
  deploy-development-cluster:
    name: Deploy Development Cluster
    # if: inputs.cluster_action == 'deploy'
    runs-on: ubuntu-latest
    steps:
        - name: Checkout Repository
          uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
          with:
            repository: 'ministryofjustice/modernisation-platform-environments'
            ref: 'feature/add-dev-cluster-script'
        - name: Prepare Files
          run: |
            bash terraform/environments/cloud-platform-non-live/scripts/dev-cluster-files.sh
        - name: Configure AWS Credentials
          uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
          with:
            role-to-assume: arn:aws:iam::${{secrets.CLOUD_PLATFORM_NON_LIVE_DEVELOPMENT_ACCOUNT_ID}}:role/github-actions-development-cluster
            role-session-name: GitHubActionsDevelopmentClusterSession
            aws-region: eu-west-2
        - name: Setup Terraform
          uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
          with:
            terraform_version: 1.12.2
        - run: terraform fmt -check
          working-directory: terraform/environments/cloud-platform-non-live/tmp/network
          continue-on-error: true
        - run: terraform init
          working-directory: terraform/environments/cloud-platform-non-live/tmp/network
        - run: terraform validate -no-color
          working-directory: terraform/environments/cloud-platform-non-live/tmp/network
        - run: |
            set -o pipefail
            terraform plan | ../../../../../scripts/redact-output.sh
          working-directory: terraform/environments/cloud-platform-non-live/tmp/network