name: Integration Tests

on:
  workflow_dispatch:

jobs:
  integration-tests:
     runs-on: ubuntu-latest
     steps:
       - name: Checkout repository
         uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
         with:
           repository: 'ministryofjustice/cloud-platform-integration-tests'

       - name: Run integration tests
         run: echo "Hello from integration tests workflow!"